.App 
{
  text-align: center;
}

.LoginGrid
{
  border: 1px solid black;
  height: 80vh;
}

#LoginGridContainer
{
  height: 80%; 
  width: 100%;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 8vh;
}

.LoginGrid #FormGrid
{
  margin-top: 5%;
  margin-bottom: 10%;
  height: 60vh;
}

.FormGrid .FormInputs
{
  margin-bottom: 3vh;
}

#SubmitButton
{
  width: 10vw;
}

#DeleteButton
{
  margin-top: 3vh;
  background-color: #ff2c2c;
  width: 300px;
}

#LogoutButton
{
  margin-top: 3vh;
  width: 300px;
}

#UploadButton
{
  width: 10vw;
}

#SettingsButton
{
  margin-top: 3vh;
  width: 300px;
}

.FormTextField
{
  width: 15vw;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.css-heg063-MuiTabs-flexContainer
{
  float: right; 
}

#OfferGrid
{
  height: calc(40vh + 5px);
  margin-bottom: 5vh;
  margin-top: 1vh;
  background-color: #1976d2;
  border-radius: 6px;
}

.fill {
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}
.fill img {
  flex-shrink: 0;
  min-height: 100%;
  max-width: auto;
  max-height: 38vh;
  margin-right: 3vw;
}

#OfferBox
{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 2vw;
  border-radius: 0;
  height: calc(38vh - 16px);
}

