.App 
{
  text-align: center;
}

.LoginGrid
{
  border: 1px solid black;
  height: 80vh;
}

#LoginGridContainer
{
  height: 100%; 
  width: 100%;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 8vh;
}

.LoginGrid #FormGrid
{
  margin-top: 10%;
  margin-bottom: 10%;
  height: 60vh;
}

#FormGrid .FormInputs
{
  margin-bottom: 3vh;
}

#SubmitButton
{
  width: 10vw;
}

.FormTextField
{
  width: 15vw;
}